* {
    /* font-weight:   */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Sofia Pro";
    /* font-family: "Montserrat", sans-serif; */
}

body.fixed{
    height: 100vh;
    overflow: hidden;
}

@media only screen and (min-width: 920px){
    html{
        font-size: 14px;
    }
}

@media only screen and (min-width: 1200px){
    html{
        font-size: 16px;
    }
}

.title{
    padding: 32px 0 20px 0;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 900;
    color: #333;
    font-size: 1.8rem;
    line-height: 1.5;

    &--center{
        margin-left: 50%;
        transform: translate(-50%, 0px);
        white-space: nowrap;
    }

    &__line{
        width: 28px;
        margin-top: 3px;
        display: block;
        border-top: 3px solid #F98406;
    }

    &--white{
        color: white;
    }
}


@font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro Light'), local('Sofia-Pro-Light'),
        url('../../assets/fonts/SofiaProLight.woff2') format('woff2'),
        url('../../assets/fonts/SofiaProLight.woff') format('woff'),
        url('../../assets/fonts/SofiaProLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
@font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro Extra Light'), local('Sofia-Pro-Extra-Light'),
        url('../../assets/fonts/SofiaProExtraLight.woff2') format('woff2'),
        url('../../assets/fonts/SofiaProExtraLight.woff') format('woff'),
        url('../../assets/fonts/SofiaProExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
@font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro Regular'), local('Sofia-Pro-Regular'),
        url('../../assets/fonts/SofiaProRegular.woff2') format('woff2'),
        url('../../assets/fonts/SofiaProRegular.woff') format('woff'),
        url('../../assets/fonts/SofiaProRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro Medium'), local('Sofia-Pro-Medium'),
        url('../../assets/fonts/SofiaProMedium.woff2') format('woff2'),
        url('../../assets/fonts/SofiaProMedium.woff') format('woff'),
        url('../../assets/fonts/SofiaProMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro Bold'), local('Sofia-Pro-Bold'),
        url('../../assets/fonts/SofiaProBold.woff2') format('woff2'),
        url('../../assets/fonts/SofiaProBold.woff') format('woff'),
        url('../../assets/fonts/SofiaProBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
@font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro Bold'), local('Sofia-Pro-Bold'),
        url('../../assets/fonts/SofiaProBold-Italic.woff2') format('woff2'),
        url('../../assets/fonts/SofiaProBold-Italic.woff') format('woff'),
        url('../../assets/fonts/SofiaProBold-Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }

.title{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 900;
    color: #333;
    font-size: 1.8rem;
    line-height: 1.5;

}

.title::after{
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background: #FB5A1E;
    border-radius: 15px;
    margin-top: 9px;
}

.content{
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 32px;
    padding-right: 5%;
    padding-bottom: 16px;

    &--thin{
        font-weight: 200;
        padding-bottom: 20px;

        &--strong{
            font-weight: 500;

            &--colored{
                color: #FB5A1E;
            }
        }

        &--stronger{
            font-weight: 600;
        }

    }
}




@media only screen and (min-width: 520px){
    .title{
        font-size: 2.7rem;
    }

    .title::after{
        content: "";
        display: block;
        width: 50px;
        height: 4px;
        background: #FB5A1E;
        border-radius: 15px;
        margin-top: 9px;
    }
}

@media only screen and (min-width: 771px){
    .content{
        padding-right: 30px;
    }
    .title::after{
        content: "";
        display: block;
        width: 70px;
        height: 4px;
        background: #FB5A1E;
        border-radius: 15px;
        margin-top: 9px;
    }
}

@media only screen and (min-width: 920px){
    .content{
        /* padding-bottom: 70px; */
    }
    .title::after{
        content: "";
        display: block;
        width: 100px;
        height: 4px;
        background: #FB5A1E;
        border-radius: 15px;
        margin-top: 9px;
    }
}