
@import 'swiper/css/swiper.css';
@import 'normalize.css';
@import 'global/_global.css';
@import 'modules/_swiper.css';
@import 'base/_base.css';
@import 'modules/_header.css';
@import 'modules/_nav-bar.css';
@import 'modules/_btn.css';
@import 'modules/_footer.css';
@import 'modules/_about.css';
@import 'modules/_section.css';
@import 'modules/_brands.css';
@import 'modules/_portfolio.css';
@import 'modules/_corousel-style.css';
@import 'modules/_text-animation.css';
@import 'modules/_mobile-nav.css';
@import 'modules/_testimonials.css';
@import 'modules/_services.css';
@import 'modules/_quote.css';
@import 'modules/_quote-form.css';
@import 'modules/_contact.css';
@import 'modules/_portfolio_section.css';
@import 'modules/_about-page.css';
@import 'modules/_process.css';
@import 'modules/_team.css';
@import 'modules/_contact-form.css';
@import 'modules/_work.css';
@import 'modules/_case.css';
@import 'modules/_case-full.css';
@import 'modules/_ch.css';