.about {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 20px;

    
    &__sec{
        background: linear-gradient(0deg, rgba(255, 247, 244, 0.95), rgba(255, 247, 244, 0.95)), url(../../assets/images/bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 32px;
        width: 100%;
        overflow: hidden;
    }

    &__title{
        margin-bottom: 20px;
    }
    
    &__container{
        width: 100%;
        position: relative;
        

        &--custom{
            padding: 120px 0px 0px 0;
            width: inherit;
        }
    }

    &__img-one{
        float: right;
        width: 80%;
        right: 0%;
        position: relative;
        z-index: 5;
        bottom: 0;
    }

    &__img-two{
        width: 63%;
        height: 100px;
        background: #DADADA;
        position: absolute;
        right: 25%;
        top: 104px;
        z-index: 0;
    }

    &__img-dot{
        position: absolute;
        top: 50px;
        left: -18px;
        z-index: 14;
        width: 25%;
    }

    &__img-three{
        position: absolute;
        top: 86px;
        left: 0px;
        width: 55%;
        z-index: 1;
        box-shadow: 0px 52px 85px rgba(0, 0, 0, 0.0873528);
    }
}

@media only screen and (min-width: 840px){
    .about__img-three{
        top: 50px;
    }
    .about__img-two{
        top: 83px;
    }
    .about__img-dot{
        top: 0px;
    }
}


/* @media only screen and (min-width: 642px){
    .about__container{
        width: 55%
    }
    .about__container--custom{
        width: 45%;
    }
} */

@media only screen and (min-width: 540px){
    .about{
        flex-direction: row;
        padding-top: 40px;
    }
    .about__container{
        width: 55%;
    }
    .about__container--custom{
        width: 45%;
    }
    .about__img-one{
        right: 10%;
    }
}

@media only screen and (min-width: 704px){
    .about__container{
        width: 50%
    }
    .about__container--custom{
        width: 50%;
    }
}

@media only screen and (min-width: 770px){
    .about__img-one{
        width: 60%;
    }
    .about__img-three{
        width: 45%;
    }
}

@media only screen and (min-width: 662px){
    .about__container--custom{
        padding-bottom: 20px;
    }
}
