.brands{
    background: rgba(255, 247, 245, 0.8);
    padding-bottom: 80px;


    &__logo{
        width: 50%;
        position: relative;
    }

    &__logo-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        position: relative;
    } 




    &__title{
        /* margin-left: 5%; */
        margin: 8px 0 18px 0%;
    }

    &__img{
        filter: grayscale(100%) brightness(124%) opacity(62%);
        transition: all .5s;

        &--colored{
            filter: grayscale(0%) brightness(100%) opacity(100%);
        }
    }

    &__img:hover{
        filter: grayscale(0%) brightness(100%) opacity(100%);
    }

    &__logo:nth-child(9) {
        display: none;
    }

    &__img:nth-child(1){
        width: 13%;
        margin: 16px 14% 5% 0;
    }
    &__img:nth-child(2){
        width: 7%;
        margin: 16px 15% 5% 0;
    }
    &__img:nth-child(3){
        width: 12%;
        margin: 16px 14% 5% 0;
    }
    &__img:nth-child(4){
        width: 8%;
        margin: 16px 2% 5% 0;
    }
    &__img:nth-child(5){
        width: 11%;
        margin: 16px 12% 5% 0%;
    }
    &__img:nth-child(6){
        width: 11%;
        margin: 16px 14% 5% 0;
    }
    &__img:nth-child(7){
        width: 6%;
        margin: 16px 14% 5% 0;

    }
    &__img:nth-child(8){
        width: 12%;
        margin: 16px 0% 5% 0;

    }
    &__img:nth-child(9){
        width: 40%;
        display: none;
    }
}


@media only screen and (max-width: 840px){
    .brands__img:nth-child(1){
        width: 18%;
        margin: 16px 22% 5% 0;
    }
    .brands__img:nth-child(2){
        width: 12%;
        margin: 16px 22% 5% 0;
    }
    .brands__img:nth-child(3){
        width: 17%;
        margin: 16px 1% 5% 0;
    }
    .brands__img:nth-child(4){
        width: 13%;
        margin: 16px 24% 5% 3%;
    }
    .brands__img:nth-child(5){
        width: 17%;
        margin: 16px 22% 5% 0%;
    }
    .brands__img:nth-child(6){
        width: 16%;
        margin: 16px 1% 5% 0;
    }
    .brands__img:nth-child(7){
        width: 11%;
        margin: 16px 21% 5% 3%;

    }
    .brands__img:nth-child(8){
        width: 18%;
        margin: 16px 15% 5% 0;

    }
    .brands__img:nth-child(9){
        width: 18%;
        display: initial;
    }
}

@media only screen and (max-width: 500px){
    .brands__img:nth-child(1){
        width: 36%;
        margin: 16px 22% 6% 0;
    }
    .brands__img:nth-child(2){
        width: 19%;
        margin: 16px 6% 6% 0;
    }
    .brands__img:nth-child(3){
        width: 31%;
    margin: 16px 22% 6% 2%;
    }
    .brands__img:nth-child(4){
        width: 22%;
        margin: 16px 5% 6% 0%;
    }
    .brands__img:nth-child(5){
        width: 30%;
        margin: 16px 22% 6% 3%;
    }
    .brands__img:nth-child(6){
        width: 32%;
        margin: 16px 0% 6% 0;
    }
    .brands__img:nth-child(7){
        width: 15%;
        margin: 16px 21% 6% 10%;
    }
    .brands__img:nth-child(8){
        width: 29%;
        margin: 16px 2% 6% 0;
    }
    .brands__img:nth-child(9){
        display: none;
    }
}