.brands{
    background: rgba(255, 247, 245, 0.8);
    padding-bottom: 120px;


    &__logo{
        width: 50%;
        position: relative;
    }

    &__logo-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }

    &__logo{
        display: flex; 
        justify-content: center;
        align-items: center;
        height: 110px;
    }

    &__logo:nth-child(4n+1) {
        /* justify-content: flex-start; */
    }
    &__title{
        /* margin-left: 5%; */
        margin: 8px 0 18px 5%;
    }

    &__img{
        filter: grayscale(100%) brightness(124%) opacity(62%);
        transition: all .5s;

        &--colored{
            filter: grayscale(0%) brightness(100%) opacity(100%);
        }
    }
    &__img:hover{
        filter: grayscale(0%) brightness(100%) opacity(100%);
    }

&__logo:nth-child(1) &__img{
        width: 40%;
    }
    &__logo:nth-child(2) &__img{
        width: 26%;
    }
    &__logo:nth-child(3) &__img{
        width: 38%;
    }
    &__logo:nth-child(4) &__img{
        width: 25%;
    }
    &__logo:nth-child(5) &__img{
        width: 40%;
    }
    &__logo:nth-child(6) &__img{
        width: 35%;
    }
    &__logo:nth-child(7) &__img{
        width: 40%;
    }
    &__logo:nth-child(8) &__img{
        width: 55%;
    }
    &__logo:nth-child(9) &__img{
        width: 40%;
    }
    &__logo:nth-child(10) &__img{
        width: 35%;
    }
    &__logo:nth-child(11) &__img{
        width: 66%;
    }
    &__logo:nth-child(12) &__img{
        width: 25%;
    }

      

   
}


@media only screen and (max-width: 400px){
    .brands__logo:nth-child(1) .brands__img{
        width: 50%;
    }
    .brands__logo:nth-child(2) .brands__img{
        width: 36%
    }
    .brands__logo:nth-child(3) .brands__img{
        width: 48%;
    }
    .brands__logo:nth-child(4) .brands__img{
        width: 35%;
    }
    .brands__logo:nth-child(5) .brands__img{
        width: 50%;
    }
    .brands__logo:nth-child(6) .brands__img{
        width: 45%;
    }
    .brands__logo:nth-child(7) .brands__img{
        width: 50%;
    }
    .brands__logo:nth-child(8) .brands__img{
        width: 65%;
    }
    .brands__logo:nth-child(9) .brands__img{
        width: 50%;
    }
    .brands__logo:nth-child(10) .brands__img{
        width: 45%;
    }
    .brands__logo:nth-child(11) .brands__img{
        width: 76%;
    }
    .brands__logo:nth-child(12) .brands__img{
        width: 35%;
    } 
}
     

@media only screen and (min-width: 540px){
    .brands__logo {
        width: 33%;
        position: relative;
    }
}

@media only screen and (min-width: 960px){
    .brands__logo {
        width: 25%;
        position: relative;
        height: 150px;
    }
}






