.btn{
    border-radius: 4px;
    color: #fff;
    background: transparent;
    font-size: 1rem;
    padding: 9px 18px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(0px);
    transition: .3s transform;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;

    
    &--upper-space{
        margin-top: 30px;
    }

    &--primary{
        background: #FB5A1E;
        border-radius: 200px;
        padding: 14px 31px;
        font-size: .9rem;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    }

    &--large{
        padding: 16px 45px;
    }

    &--hover:hover{
        transform: translateY(-10px);
    }

    &--regular{
        color: #FB5A1E;
        font-size: .7rem;
        padding: 15px 35px;
        background: #fff;
        border-radius: 200px;

        
    }

    &--custom{
        font-weight: 700;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.21);
    }

    &__img{
        margin-right: 10px;
        width: 8px;

        &--header{
            /* margin-right: 16px; */
            width: 25px;
        }
    }

    &--header{
        margin-top: 26px;
        border-radius: 200px;
    }

    &--gradient{
        background: linear-gradient(180deg, #FA8209 0%, #FF4B30 82.24%);
    }

    &--link:link, &--link:visited{
        text-decoration: none;
        display: inline-block;
        display: inline-flex;
    }

    &--white{
        background: white;
        color: #FB5A1E;
    }
    
}


@media only screen and (min-width: 600px){
    .btn__img--header{
        width: 34px;
    }
}