.corouzel {
    display: flex;
    

    &__container{
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .ir {
        height: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        padding: 0 25px;
    }

}

.title__news{
    margin-left: 5%;
}