.footer{
    width: 100%;

    &__title{
        font-size: 4rem;
        color: #fff;
        line-height: 36px;
        font-weight: 700;

        span{
            font-weight: 100;
        }
    } 

    &__quote{
        background: #FFF;
        width: 327px;
        box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        position: absolute;
        right: 5%;
        top: -90px;
        padding: 28px 36px;
        

        &__input{
            width: 100%;
            border: none;
            border-bottom: 1px solid rgba(151, 151, 151, 0.7);
            padding: 0 0 8px 0;

            &--msg{
                resize: none;
            }
            
            &-container{
                position: relative;

                .footer__label{
                    position: absolute;
                    top: 20px;
                    left: 0;
                    cursor: text;
                    font-size: .9rem;
                    color: #979797;
                    transition: all .3s;

                    &--keep{
                        top: 0;
                        color: #fb5a1e;
                        font-size: .8rem;
                    
                    
                    }
                }
            }

            &:focus {
                outline: none;
                border-bottom: 1.5px solid #FB5A1E;

                &~.footer__label{
                    top: 0;
                    color: #fb5a1e;
                    font-size: .8rem;
                    
                }
            }

        }

        &__input-container{
            padding: 16px 0px;
        }

        &__title{
            text-align: center;
            color: #FB5A1E;
            font-weight: 600;
            padding-bottom: 16px;
        }
    }

    &__text{
        color: rgba(255, 255, 255);
        font-weight: 200;
        font-size: 1.4rem;
        padding: 34px 0 20px 0;

        &__lower{
            font-size: .9rem;
            color: rgba(0,0,0,.9);
        }

        span{
            font-weight: 500;
        }
    }
 
    &__container{
        width: 100%;
        position: relative;
        background: linear-gradient(180deg, rgba(250, 125, 11, 0.8) 0%, rgba(254, 86, 39, 0.8) 46.53%, rgba(254, 84, 41, 0.8) 100%), url(../../assets/images/footer-bg.png);
    }

    &__content{
        width: 100%;
        /* width: calc(95% - 367px); */
        padding: 130px 0;
        text-align: center;
        justify-content: center;
    }

    &__lower-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 65px 0% 30px 0%;
    }

    &__link:link, &__link:visited{
        text-decoration: none;
        color: #000;
        font-size: .9rem;
        margin-right: 20px;
        display: inline-flex;
        white-space: nowrap;
        align-items: center;
    }

    &__lower-right{
        display: flex;
        justify-content: flex-end;
        white-space: nowrap;

    }

    &__link__logo{
        width: 150px;
    }

    &__lower-left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        

    }

    &__lower-content{
        padding: 0px 0 30px 0;
        background: #fff;
        position: relative;
        width: 100%;
    }

    &__input-container{
        border-radius: 200px;
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, -50%);
        width: 45%;
        background: #fff;
        padding: 7px;
        border-radius: 200px;
        display: flex;
        justify-content: space-between;
        box-shadow: 11px 15px 54px rgba(0, 0, 0, 0.09);

        &::before{
            content: "";
            display: block;
            height: 22px;
            width: 27px;
            background: black;
            margin-left: 35px;
            margin-top: 9px;
            background: url(../../assets/images/mail.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            img{
                width: 100%;
            }
        }
    }

    &__input{
        border: none;
        width: 65%;
        padding: 10px 16px;
        border-radius: 200px;
        color: #333;
        padding-left: 20px;

        &__title{
            left: 50%;
            position: absolute;
            z-index: 66;
            transform: translateX(-50%);
            top: -78px;
            font-size: 1.4rem;
            white-space: nowrap;
            line-height: 49px;
            color: #fff;
            font-weight: 500;
        }

        
        &::placeholder{
            color: rgba(0,0,0,.5);
        }

        &:focus{
            outline: none;
        }
    }

    &__submit {
        background: #FB5A1E;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
        border: #FFAD57;
        width: 180px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 11px 0;
        border-radius: 200px;
        color: #fff;
        font-weight: 300;
        font-size: 1rem;
        cursor: pointer;

        &--adjust{
            width: unset;
            padding: 9px 25px;
            float: right;
        }

        &:focus{
            outline: none;
        }
    }

    &__break{
        display: none;
    }

}


@media only screen and (max-width: 820px){

    .footer__title{
        line-height: 54px;
        /* margin-bottom: 15px; */
    }
    .footer__quote{
        top: -60px;
        width: 300px;
    }
}

@media only screen and (max-width: 1020px){
    .footer__input-container{
        width: 60%;
    }
    .footer__input-container{
        /* width: 60%; */
    }

}
@media only screen and (max-width: 820px){
    .footer__input-container{
        width: 70%;
    }
}

@media only screen and (max-width: 620px){
    .footer__input-container{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer__title {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 540px){
    .footer__break{
        display: none;
    }

    .footer__content {
        padding: 120px 0;
        width: 100%;
    }

    .footer__quote{
        width: 300px;
        right: 50%;
        transform: translateX(50%);
    }

    .footer__title{
        margin-bottom: 0;
        line-height: 20px;
        margin-top: 30px;
        white-space: nowrap;
    }

    .footer__input-container {
        width: 80%;
    }

    .footer__input-container::before {
        height: 22px;
        width: 27px;
        margin-left: 15px;
    }

} 

@media only screen and (max-width: 370px){
    .footer__quote {
        width: 90%;
        right: 5%;
        transform: translateX(0%);
    }
}


@media only screen and (max-width: 1050px){
    .footer__lower-links{
        flex-direction: column;
    }
    .footer__lower-left{
        display: block;
        margin-bottom: 28px;
    }
    .footer__lower-left .footer__link:link, .footer__link:visited{
        /* display: block; */
        /* width: 33%; */
    }
    .footer__text__lower {
        margin-top: 3px;
    }
    .footer__link--resp:link, .footer__link--resp:visited{
        width: 100%;
        text-align: center;
        display: block;
        margin-bottom: 13px;
    }

    .footer__link:link:last-child{
        margin-right: 0;
    }
}

@media only screen and (max-width: 390px){
    .footer__lower-left .footer__link:link, .footer__link:visited {
        width: 100%;
        text-align: center;
        margin-right: 0;
        display: block;
        margin-bottom: 22px;
    }
}