.header{

    width: 100%;
    position: relative;

    &__container{
        height: 100vh;
        width: 100%;
        background:  linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../../assets/images/hero_img.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        position: relative;

        &--services{
            height: 70vh;
            background: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../../assets/images/services-bg.png);
        }

        &--casestudy{
            height: 70vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74)), url(../../assets/images/work-bg.jpg);        
        }

        &--work{
            height: 70vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74)), url(../../assets/images/work-bg.jpg);        
        }

        &--about{
            height: 70vh;
            background: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../../assets/images/comp.jpg);
            background-position: bottom center;
        }

        &--quote{
            height: 70vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../../assets/images/quote__bg.png);
        }

        &--contact{
            height: 70vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../../assets/images/contact-bg.jpg);
            background-position: bottom right;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &--portfolio{
            height: 70vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../../assets/images/portfolio-bg.jpg);
            background-position: top right;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &__text-br{
        display: none;
    }

    &__break {
        display: none;
    }

    &__title{
        font-size: 2rem;
        color: #ffffff;
        font-weight: 700;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        line-height: normal;

        &--services{
            font-family: 'Playfair Display', serif;
            text-align: center;
            margin: 0;
            font-size: 2.7rem;
        }

        &--em{
            font-family: 'Playfair Display', serif;
            font-style: italic;
            font-weight: 900;
        }
    }

    &__text{
        font-size: 1.3rem;
        color: #ffffff;
        font-family: 'Sofia Pro', serif;
        font-weight: 200;
        line-height: 28px;

        &--services{
            text-align: center;
        }

        &__box{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
        }
       

        &-container{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .circle{
                display: block;
                height: 7px;
                width: 7px;
                background: #ffffff;
                border-radius: 50%;
                position: absolute;
                top: -3px;
                z-index: 2;
            }
        }
    }
    
    &__map{
        position: absolute;
        right: 0%;
        height: 103%;
        top: 11%;
        display: none;
    }

    &__design{
        width: 6rem;
        vertical-align: bottom;
        transform: translateY(-1px);
    }

    &__development{
        width: 12.8rem;
        vertical-align: bottom;
        transform: translateY(-2px);
    }

   

}

@media only screen and (min-width: 365px){
    .header__break{
        display: block;
    }
    .header__text-br{
        display: block;
    }
}

@media only screen and (min-width: 540px){
    .header__container--services{
        height: 75vh;
    }
    
}

@media only screen and (min-width: 600px){
    .header__design{
        width: 9.5rem;
        transform: translateY(-1.4px);
    }
    .header__development{
        width: 17rem;
        transform: translateY(-3px);
    }
    .header__text__img {
        width: 232px;
    }
}


@media only screen and (min-width: 600px){
    .header__title{
        font-size: 2.8rem;
    }
}

@media only screen and (min-width: 1020px){
    .header__map{
        display: block;
    }
}

@media only screen and (min-width: 920px){
    .header__text{
        line-height: 35px;
    }
}

@media only screen and (max-height: 500px){
    .header__container{
        height: 500px;
    }
}