.nav-bar{
    height: 70px;
    background: transparent;
    width: 100%;
    z-index: 99;
    transition: all .3s ease-in-out;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;

    &__link{
        display: none;
    }

    &--up{
        top: -70px;
    }

    &--down{
        top: 0px;
        background: rgb(51, 50, 50);
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    }

    &__container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-link{
        text-decoration: none;
    }

    &__logo{
        width: 60%;
    }

    &__menu-icon{
        width: 40px;
        margin-left: 18px;
        cursor: pointer;
    }
    &__right-content-container{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__menu-icon{
        background: transparent;
        height: 25px; 
        width: 30px;
        position: relative;
        cursor: pointer;

        &--close .nav-bar__menu-icon__line{
            width: 0%;

            &::after{
                width: 100%;
                transform: rotate(-45deg);
                top: 10px;
            }
            &::before{
                width: 100%;
                transform: rotate(45deg);
                top: 10px;
            }
        }

        &__line{
            width: 100%;
            height: 2.7px;
            background: white;
            border-radius: 150px;
            margin-top: 9px;
            transition: all .5s;


            &::before{
                content: "";
                width: 100%;
                height: 2.7px;
                display: block;
                border-radius: 150px;
                transform-origin: center;
                background: #fff;
                position: absolute;
                top: 0px;
                transition: all .5s;
            }

            &::after{
                content: "";
                width: 70%;
                height: 2.7px;
                display: block;
                border-radius: 150px;
                background: #fff;
                position: absolute;
                bottom: 4px;
                right: 0;
                transition: all .5s;
            }

            
        }
    }
}

@media only screen and (min-width: 600px){
    .nav-bar__menu-icon{
        width: 50px;
    }
}

@media only screen and (min-width: 740px){
    .nav-bar__link:link, .nav-bar__link:visited{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 1rem;
        margin: 0 30px;
        text-decoration: none;
        font-weight: 500;
        white-space: nowrap;
        vertical-align: center;
        transition: all .3s;
    }

    .nav-bar__link:link:hover, .nav-bar__link:visited:hover{
        color: #FB5A1E;
    }

    
    .nav-bar__link--bg:link, .nav-bar__link--bg:visited{
        /* background: linear-gradient(180deg, #FB5A1E 12.9%, #FA8407 100%); */
        background: #FB5A1E;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
        border-radius: 45px;
        padding: 7px 22px 10px;
        color: white;
        margin: 0 30px;
        text-decoration: none;
    }

    .nav-bar__link--bg:link:hover, .nav-bar__link--bg:visited:hover{
        color: #fff;
    }
}