.portfolio{
    width: 100%;
    background: #fff;
    position: relative;
    overflow: hidden;
    padding: 65px 0 0px 0;

    &__mark-up{
        margin: 0 5%;
    } 

    .owl-theme .owl-controls .owl-page {
        display: inline-block;
    }

    .owl-theme .owl-controls .owl-page span {
        background: none repeat scroll 0 0 #869791;
        border-radius: 20px;
        display: block;
        height: 12px;
        margin: 5px 7px;
        opacity: 0.5;
        width: 12px;
    }

    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-dots {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
        background: #c4c4c4;
        width: 32px;
        height: 4px;
        border-radius: 100px;
        margin: 0 5px;

        &.active{
            background: #FF4C2F;
        }

        &:focus{
            outline: none;
        }
    }

    &__markup{
        width: 125%;

    }

    &__bg-spot{
        width: 15%;
        position: absolute;
        left: 0;
        top: 10px;

        &--right{
            width: 14%;
            position: absolute;
            right: 0;
            bottom: -40px;

        }
    }

    &__container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
    }

    &__item{
        position: relative;

        &--left{
            width: 100%;
            padding-bottom: 40px;
        }

        &--right{
            width: 100%;
            position: relative;
            order: -1;
            padding-bottom: 0px;
        }
    }
}

/* .portfolio .owl-carousel .owl-nav button.owl-prev, .portfolio .owl-carousel .owl-nav button.owl-next, .portfolio .owl-carousel .owl-dots {
    transform: translateY(-18px);
} */

@media only screen and (min-width: 520px){
    .portfolio__container{
        flex-direction: row;
    }
    .portfolio__item--left{
        width: 43%;
    }
    .portfolio__item--right{
        width: 57%;
        order: unset;
        /* padding-bottom: 69px; */
    }
    /* .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
        width: 40px;
        height: 5px;
        margin: 0 6px;
    } */
}

@media only screen and (min-width: 920px){
    /* .portfolio .owl-carousel .owl-nav button.owl-prev, .portfolio .owl-carousel .owl-nav button.owl-next, .portfolio .owl-carousel .owl-dots {
        transform: translateY(-48px);
    } */
}