.services{
    background: #FFF7F5;
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px;

    &__call{
        position: relative;
    }

    &__circle{
        position: absolute;
        left: -11%;
        width: 220px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__numbering{
        padding: 16px 26px;
        background: #333;
        font-size: 2.6rem;
        color: #fff;
        border-radius: 0 28px;
        margin-right: 35px;
        font-family: Roboto;
    }

    &__list {
        list-style: none;
        padding-bottom: 35px;
        /* display: flex; */
        justify-content: space-between;
        flex-wrap: wrap;
    
        & li{
            font-size: 1.2rem;
            line-height: 2.6rem;
            font-weight: 300;
            position: relative;
            white-space: nowrap;

            &::before{
                content: "";
                display: inline-block;
                width: 15px;
                height: 15px;
                top: 0%;
                background: url(../../assets/images/bullet.png);
                margin-right: 30px;
                /* vertical-align: middle; */
            }
        }
    }

    &__text{
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 2.3rem;
        padding-bottom: 37px;

        &--btm-space{
            padding-bottom: 50px;
        }
    }

    &__title{
        font-size: 2.7rem;
        font-family: 'Playfair Display', serif;
        color: #333;
        /* white-space: nowrap; */

        &--no-margin{
            margin: 0;
            margin-bottom: 10px;
            white-space: nowrap;
        }

        &__custom{
            font-weight: 300;
            font-size: 1.5rem;
        }
    }

    &__container{
        padding: 50px 0;
        display: flex;
        justify-content: center; 
        align-content: center;
        position: relative; 

        &--space-added{
            padding: 80px 0;
        }

        &__centering{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &__title{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 18px;
        }



        &__img{
            width: 50%;
            

            &--space-added{
                /* transform: translateX(-15%); */
            }
        }


        &__text{
            width: 50%;
            padding-left: 7%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &--space-removed{
                padding-left: 0;
                padding-right: 10%;
            }
        }
    }


    &__img{
        background-size: cover;
        background-position: bottom left;
        position: relative;

        &__inner-one{
            width: 85%;
            box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.2);

            &--shift{
                transform: translateX(-5%);
            }

            &--floated{
                margin-left: 15%;
            }
        }

        &__inner-two{
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translate(0%, -50%);
            box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.25);
            width: 82%;

            &--left{
                left: 0;
            }

            &--mobile{
                width: 40%;
                border-radius: 10%;
                transform: translate(0%, -50%);
                right: 0%;
            }
        }
    }

    &__call-text{
        width: 50%;
        padding-left: 30px;
        position: relative;

        &--group{
            margin-bottom: 45px;
        }
    }

    &__call-img{
        width: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__call-image{
        width: 75%;
    }

}


@media only screen and (min-width: 1200px){
    .services__numbering{
        margin-right: 60px;
    }

    .services__title{
        white-space: nowrap;
    }
}

@media only screen and (min-width: 1144px){
    .services__container__img{
        width: 45%;
    }
    .services__container__text{
        width: 55%;
    }
}

@media only screen and (max-width: 1200px){
    .services__container__title{
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 1120px){
    .services__text {
        padding-bottom: 23px;
    }
}

@media only screen and (max-width: 1100px){
    .services__container__text{
        margin-bottom: 0px;
    }
}


@media only screen and (max-width: 1100px){
    .services__circle {
        width: 180px;
    }
}

@media only screen and (max-width: 860px){
    .services__container__img {
        width: 35%;
        align-self: center;
    }
    .services__container__text{
        width: 75%;
    }
    .services__list{
        display: flex;
    }
    .services__list li{
        width: 50%;
    }
    .services__list li::before{
        margin-right: 20px;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 660px){

    .services__call {
        padding-bottom: 40px;
    }

    .services__container{
        padding-bottom: 0;
    }

    .services:nth-of-type(even) .services__container__img{
        order: -1;
    }

    .services--last{
        padding-bottom: 40px;
    }

    .services__container {
        flex-direction: column;
    }
    .services__list li{
        width: 100%;
    }
    .services__container__text{
        padding-left: 0;
        width: 100%;
        /* order: -1; */
    }
    .services__container__img{
        width: 330px;
        margin-bottom: 30px;
    }
    .services__list{
        display: block;
    }
    .services__img__inner-one--shift {
        transform: translateX(0%);
    }
    .services__call-text {
        width: 100%;
        padding-left: 23px;
    }
    .services__call-img, .services__call-image {
        width: 100%;
        margin: 30px 0;
    }
    .services__circle {
        /* width: 180px; */
    }
}

@media only screen and (max-width: 420px){
    .services__container__img{
        width: 100%;
    }
    .services__title--no-margin{
        white-space: normal;
    }
}
