.testimonials{
    width: 100%;
    display: flex;
    background: rgba(251, 90, 30, 0.05);
    position: relative;
    
    &__section{
        position: relative;
        width: 100%;

        &:hover .testimonials__trigger--left{
            left: 3%;
        }
        &:hover .testimonials__trigger--right{
            right: 3%;
        }
    }

    &__trigger{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background: white;
        position: absolute;
        z-index: 77;
        transform: translateY(-50%);
        cursor: pointer;
        top: 50%;
        border-radius: 50%;
        box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.08);
        transition: all .3s;

        &__img-left{
            width: 10px;
            transform: rotate(180deg);
            transform-origin: center;
        }

        &__img-right{
            width: 10px;
        }

        &--left{
            left: 2%;
            transition: left .3s;
        }
        
        &--right{
            right: 2%;
            transition: right .3s;
        }
    }

    &__title{
        position: absolute;
        top: 8px;
        left: 45px;
    }

    &__body{
        position: relative;
        margin-right: 0%;
        margin-left: 0%;
        padding: 0 0%;
        margin-top: 9%;

        &::before{
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 162%;
            top: -18%;
            background: url(../../assets/images/map-opaque.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            }

        &-text{
            padding-left: 7%;
            font-size: 1.2rem;
            line-height: 31px;
            font-weight: 300;
            font-family: 'Quicksand', sans-serif;
            color: #000;

            &--strong{
                font-weight: 700
            }

            &--small{
                font-size: 1.2rem;
            }

            &--adjusted{
                padding-left: 0%;
                padding-top: 36px;
            }
        }
    }

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5%;
    }

    .quote{
        width: 9%;
    }

    &__container-first{
        padding: 154px 0;
        background: linear-gradient(327.75deg, #FB5A1E 3.02%, rgba(186, 149, 82, 0.75) 99.31%), url(../../assets/images/pic.png);
        width: 0%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        justify-content: flex-end;
   }

    &__container-second{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        padding: 105px 10%;
    }

    .testimonials__img--resp {
        width: 80%;
        height: auto;
        margin-right: 0px;
    }

    &__pic{
        width: 65%;
        box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.49);
        border-radius: 28px;
        transform: translateX(50%);
    }

}

@media only screen and (min-width: 700px){
    .testimonials__title{
        left: 75px;
    }
}

.testimonials__img--resp {
    width: 100%;
    height: auto;
    margin-right: 0px;
    border-radius: 20px;
}

@media only screen and (min-width: 700px){
    .testimonials__container-first{
        width: 36%;
    }
    .testimonials__container-second{
        width: 64%;
    }
    .testimonials__body{
        margin-right: 15%;
        margin-left: 8%;
    }
    .testimonials__content{
        display: block;
    }
    .testimonials__img--resp {
        display: none;
    }
    .testimonials__container-second{
        padding: 92px 10% 92px 0;
    }
}

@media only screen and (min-width: 500px){
    .testimonials__content{
        flex-direction: row;
        margin-top: 0%;
    }
    .testimonials__container-second{
        padding: 92px 10%;
    }
    .testimonials__body{
        margin-right: 1%;
        margin-top: 0%;
        padding: 0 1%;
    }
    .testimonials__trigger{
        width: 40px;
        height: 40px;
    }
    .testimonials__trigger__img-right {
        width: 15px;
    }
    .testimonials__trigger__img-left {
        width: 15px;
    }
    .testimonials__img--resp {
        width: 30%;
        height: auto;
        margin-right: 16px;
    }
    .testimonials__title {
        top: 0px;
    }
    .testimonials .testimonials__img--resp{
        width: 32%;
    }
}